@import "mixins";

.bgDark {
    background-color: map-get($map: $colors, $key: dark);
}

.bgLight {
    background-color: map-get($map: $colors, $key: light);
}

.bgWhite {
    background-color: white;
}

.bgPrimary {
    background-color: map-get($map: $colors, $key: primary);
}

.bgSecondary {
    background-color: map-get($map: $colors, $key: secondary);
}

.bgInfo {
    background-color: map-get($map: $colors, $key: info);
}

.bgSuccess {
    background-color: map-get($map: $colors, $key: success);
}

.bgWarning {
    background-color: map-get($map: $colors, $key: warning);
}

.bgDanger {
    background-color: map-get($map: $colors, $key: danger);
}