.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.italic {
  font-style: italic;
}

.text {
  font-family: map-get($map: $font-families, $key: regular);
}

.light {
  font-weight: 300;
  font-family: map-get($map: $font-families, $key: light);
}

.medium {
  font-weight: 500;
  font-family: map-get($map: $font-families, $key: medium);
}

.semibold {
  font-weight: 600;
  font-family: map-get($map: $font-families, $key: semibold);
}

.bold {
  font-weight: bold;
  font-family: map-get($map: $font-families, $key: bold);
}

.textUnderline {
  text-decoration-line: underline;
}

.textUppercase {
  text-transform: uppercase;
}

.textLowercase {
  text-transform: lowercase;
}