.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.italic {
  font-style: italic;
}

.text {
  font-family: map-get($map: $font-families, $key: regular);
}

.light {
  font-weight: 300;
  font-family: map-get($map: $font-families, $key: light);
}

.medium {
  font-weight: 500;
  font-family: map-get($map: $font-families, $key: medium);
}

.semibold {
  font-weight: 600;
  font-family: map-get($map: $font-families, $key: semibold);
}

.bold {
  font-weight: bold;
  font-family: map-get($map: $font-families, $key: bold);
}

.textPrimary {
  @extend .text;
  color: map-get($map: $colors, $key: primary);
}

.textSecondary {
  @extend .text;
  color: map-get($map: $colors, $key: secondary);
}

.textSuccess {
  @extend .text;
  color: map-get($map: $colors, $key: success);
}

.textDanger {
  @extend .text;
  color: map-get($map: $colors, $key: danger);
}

.textInfo {
  @extend .text;
  color: map-get($map: $colors, $key: info);
}

.textWarning {
  @extend .text;
  color: map-get($map: $colors, $key: warning);
}

.textDark {
  @extend .text;
  color: map-get($map: $colors, $key: dark);
}

.textLight {
  @extend .text;
  color: map-get($map: $colors, $key: light);
}